body{
    background-color: #f2f2f2;
}
.HomeDiv, .HomeDivReg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoDiv{
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
}
.logoDiv > img{
    height: 112px;
    width: 112px;
    margin-top: 10%;
}
.title{
    font-size: 2.3rem;
    color:#bf522a;
    font-family: 'Itim', cursive;
    margin: 2% 0%;

}
.welcome{
    font-size: 1rem;
    color:#122e40;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 2% 4%;
}
.RegTitle{
    font-size: 1.2rem;
    color:#122e40;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 2% 4%;
}
.containerAll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    line-height: 130%;
}
.containerLogin {
    background-color: #d9d9d9;
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5% 0%;
    border-radius: 3%;
}
.containerRegis{
    background-color: #d9d9d9;
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5% 0%;
    border-radius: 3%;
}
.formLogin, .form{
    line-height: 200%;
}
.labels{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #122e40;
    display: flex;
}
.inputs, .inputsReg{
    border-radius: 0.5rem;
    width: 15rem;
    height: 1.7rem;
    border: 2px solid #bf522a;
    font-size: medium;
    padding: 2%;
}
.btnDiv{
    display: flex;
    justify-content: center;
    margin: 8% 0%;
}
.buttonLogin, .buttonCreate{
    border-radius: 0.5rem;
    background-color: #f2a71b;
    font-size: 1rem;
    color:#122e40;   
    width: 10rem;
    height: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    margin: 0px;
}
.buttonRegister{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 8.8rem;
    height: 2rem;
    align-items: center;
}
.footer{
    color: rgb(108, 109, 106);
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
/* estilo resgister.js*/
.gmailDiv{
    background-color: #d9d9d9;
    width: 85%;
    height: 55%;
    display: flex;
    justify-content: center;
    padding: 4% 0%;
    margin-top: 4%;
}
.buttonGmail{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 14rem;
    height: 2rem;
    align-items: center;
}

/* *---------TABLET------------ más de 768 px*/
@media only screen and (min-width: 768px) and (max-width:1279px) {
    
    .containerLogin{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 8%;
        width: 350px;
    }
    .logoDiv > img{
        height: 170px;
        width: 170px;
        margin-top: 15%;
    }
    .title{
        font-size: 3rem;
    }
    
    /* estilo para register.js*/
    .HomeDivReg{
        width: auto;
        height: 90%;
    }
    
    .containerAll{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }
    
    .RegTitle{
        margin-top: 5%;
    }
}   

/* ----------DESKTOP----------- más de 1280 px*/
@media only screen and (min-width: 1280px) and (max-width: 1728px){
    .HomeDiv{
        display: flex;
        flex-wrap: nowrap; 
        height: 90%;
    }
    .logoDiv{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .containerLogin{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 7%;
        width: 25%;
    }
    .logoDiv > img{
        height: 170px;
        width: 170px;
        margin-top: 15%;
    }
    .title{
        font-size: 3rem;
    }
    /* estilo para register.js*/
    .HomeDivReg{
        display: flex;
        flex-wrap: nowrap;
        height: 90%;
       
    }
    .containerAll{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 6%;
        width: 40%;
    }
    .RegTitle{
        margin-top: 5%;
    }
    .containerRegis{
        width: 70%;
        height: auto;
    }
    .gmailDiv{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}
