body{
    background-color: #f2f2f2;
}
.HomeDiv, .HomeDivReg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoDiv{
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
}
.logoDiv > img{
    height: 112px;
    width: 112px;
    margin-top: 10%;
}
.title{
    font-size: 2.3rem;
    color:#bf522a;
    font-family: 'Itim', cursive;
    margin: 2% 0%;

}
.welcome, .RegTitle{
    font-size: 1rem;
    color:#122e40;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0% 4%;
}
.containerLogin, .containerRegis{
    background-color: #d9d9d9;
    width: 85%;
    height: 100%;
    margin: 5% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5% 0%;
    border-radius: 3%;
}
.formLogin, .form{
    line-height: 200%;
}
.labels{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #122e40;
    display: flex;
}
.inputs, .inputsReg{
    border-radius: 0.5rem;
    width: 15rem;
    height: 1.7rem;
    border: 2px solid #bf522a;
    font-size: medium;
    padding: 2%;
}
.btnDiv{
    display: flex;
    justify-content: center;
    margin: 8% 0%;
}
.buttonLogin, .buttonCreate{
    border-radius: 0.5rem;
    background-color: #f2a71b;
    font-size: 1rem;
    color:#122e40;   
    width: 10rem;
    height: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    margin: 0px;
}
.buttonRegister{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 8.8rem;
    height: 2rem;
    align-items: center;
}
.footer{
    color: rgb(108, 109, 106);
    font-size: 0.8rem;
}
/* estilo resgister.js*/
.gmailDiv{
    background-color: #d9d9d9;
    width: 85%;
    height: 55%;
    display: flex;
    justify-content: center;
    padding: 4% 0%;
}
/* .gmailDiv .svg-inline--fa{
    position: absolute;
    margin-left: 14.5rem;
    top: 2.1%;
    background-color: var(--Verde-colorButton);
    /* font-size: 1.5em; 
}*/
.buttonGmail{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 14rem;
    height: 2rem;
    align-items: center;
}


/* medida para  desktop de más de 1280 px*-------------------------DESKTOP---------------------------*/
@media (min-width: 1280px){
    .HomeDiv{
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
    }
    /* .logoDiv{
        display: inline-block;
    }*/
    .containerLogin{
        width: 35%;
        height: 60%;
    } 
    /* estilo para registes.js*/
    /* .HomeDivReg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1100px;
    } */
}