body{
    background-color: #f2f2f2;
}
#root{
    display: block;
}
.containerLogin{
    background-color: #d9d9d9;
    width: 296px;
    height: 280px;
    margin-left: 23px;
}
.logoDiv > img{
    height: 112px;
    width: 112px;
    margin-left: 110px;
    margin-top: 20px;
}
.title{
    font-size: 35px;
    color:#bf522a;
    font-family: 'Itim', cursive;
    text-align: center;
    margin-top: 0px;
}
.labels{
    font-size: 1rem;
    font-family:Inter;
    color: #122e40;
    margin: 100px 24px 0px 24px;
}
.inputs{
    border-radius: 0.5rem;
    width: 15rem;
    height: 1.7rem;
    border: 2px solid #bf522a;
    margin: 5px 24px;
}

.buttonLogin, .buttonCreate{
    border-radius: 0.5rem;
    background-color: #f2a71b;
    font-size: 1rem;
    color:#122e40;   
    width: 10rem;
    height: 2rem; 
    align-items: center;
    margin: 8px 67px;
}

.buttonRegister{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 8.8rem;
    height: 2rem;
    margin: 30px 75px 10px 75px;
}
.buttonGmail{
    border-radius: 0.5rem;
    background-color: #fdfffd;
    font-size: 1rem ;
    color:#122e40;
    width: 14rem;
    height: 2rem;
    margin: 30px 75px 10px 75px;
}


p{
    font-size: 1rem;
    color:#122e40;
    text-align: center;
    font-family: Inter;
}

/* medida para  desktop de más de 1280 px*/
@media (min-width: 1280px) {
    body{
        background-color: green;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .logoDiv > img{
        margin-left: 265px;
    }
    .containerLogin{
        display: block;
    }
}